body{
	text-align:center;
	}
table{
	border:5px;
	margin-left: auto;
	margin-right:auto;
	}
th{
	font-size:9pt;
	background-color:#052A46;
	color:white;
	}
div{
	border-bottom-width:thick;
	}
.Logos{
	border-collapse: collapse;
	border: 5px solid black;
	border-color:#052A46;
	}

.Header{
	background-color:white;
	color:black;
	border-top:2px solid #052A46;
	font-size:15pt;
	text-align:left;
}
